/*.aux
/*.bbl
/*.log
/*.maf
/Constructive Alignment for Introductory Programming.blg
/Constructive Alignment for Introductory Programming.mtc
/Constructive Alignment for Introductory Programming.mtc0
/Constructive Alignment for Introductory Programming.out
/Constructive Alignment for Introductory Programming.pdf
/Constructive Alignment for Introductory Programming.pdfsync
/Constructive Alignment for Introductory Programming.synctex
/Constructive Alignment for Introductory Programming.synctex.gz
